<!DOCTYPE html>
<html>
<head>
	<!--<body onload="boot()">-->
	<title>
		Apollo
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" inegrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Baumans&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ab83053a15.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="./css/playerLarge.css"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>	
	<div id="app">
		<div class="navigation-bar">
				<i class="songs  navigation-bar nav-text" href="#" v-on:click="go2Songs" style="font-family: Azonix">Songs</i>
				<i class="albums  navigation-bar nav-text" href="#" v-on:click="go2Albums" style="font-family: Azonix">Albums</i>
				<i class="playlist  navigation-bar nav-text" href="#"v-on:click="go2Playlists" style="font-family: Azonix">Playlists</i>
				<i class="artists  navigation-bar nav-text" href="#"v-on:click="go2Artists" style="font-family: Azonix">Artists</i>
			<div class="logoContainer">
				<img id="logoBTN" class="logo-button" data-toggle="collapse" data-target="currentlyPlaying"src="./images/Logo.png"/>
			</div>
			<div class="apolloBrand" href="#">
				APOLLO
			</div>
		</div>

		<div id="currentlyPlaying"class="currentlyPlaying"style="background-color: rgb(26, 26, 26)">
	        <div class="currentlyShowing">
				<i href="#" class = "artwork" id="returnCurrentAlbum"  onclick="filterSelection()"><img id="currentAlbum"class="playerAlbumArt" src="./images/Logo.png"/>
				</i>
			</div>
			<div class="currentSong link">
				<i id="returnCurrentSong" onclick="filterSelection()" >
				</i>
			</div>
			<div class="currentArtist link">
				<i id="returnCurrentArtist" onclick="filterSelection()" >
				</i>
			</div>
			<div class="w3-container">
				<div class="w3-light-grey w3-round">
				  <div id="progBar" class="w3-green w3-round" style="height:7px;width:0%"></div>
				</div>
			<div class="durations">
				<i class="elapsed" href="#" style="font-family: Azonix" id="returnCurrentElapsed"></i>
				<i class="duration" href="#" style="font-family: Azonix" id="returnCurrentDuration"></i>
			</div>
				<br>
			</div>
			<div class="playbackControls link">
				<i style="color: white;" v-on:click="shuffle" id="shuffle" class="Shuffle fas fa-random"></i>
				<i v-on:click="prevSong"class="backButton fas fa-step-backward"></i>
				<i v-on:click="togglePlaying" id="play" class="playButton fas fa-play"></i>
				<i v-on:click="toggleStopped" id="pause" class="fas fa-pause pause"></i>
				<i v-on:click="nextSong"class="ffButton fas fa-step-forward"></i>
				<i style="color: white;" v-on:click="repeat" ondblclick="repeatSong()"  class="Repeat fas fa-redo-alt" id="rewind"></i>
				<i v-on:click="repeatOff" id="rewindSong" class="fas fa-history" ></i>
			</div>
			<div id="player">
				<div id="volume">
				</div>
				<i class="fa fa-volume-up"></i>
			</div>
		</div>

		<div class = "mainPages">
			<div id="currentCue">
				<button id="exit" v-on:click="closeCurrent">X</button>
				<img id="Qart" src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930">
				<div id="header"><h1>CUETITLE</h1></div>
				<div id="Q">
					<table id="Qtable">
					  <thead>
						<tr>
						  <th scope="col"></th>
						  <th scope="col"></th>
						  <th scope="col"></th>
						  <th scope="col"></th>
						</tr>
					  </thead>
					  <tbody id="Qtable">
					  </tbody>
					  </table>
				</div>

			</div>
			<div id="mainArtists" v-show="currentPage === 'artists'">
				<div class="search-box">
       				<input type="text" name="" class="search-txt" placeholder="Search Artists..."/>
       				<a class="search-btn" href="#">
       					<i class="fas fa-search"></i>
       				</a>
     			</div>

			</div>
			<div id="mainPlaylists" v-show="currentPage === 'playlists'">
				<div class="search-box">
       				<input type="text" name="" class="search-txt" placeholder="Search..."/>
       				<a class="search-btn" href="#">
       					<i class="fas fa-search"></i>
       				</a>
     			</div>
			</div>	
			<div id="mainAlbums" v-show="currentPage === 'albums'">
				<div class="search-box">
       				<input type="text" name="" class="search-txt" placeholder="Search..."/>
       				<a class="search-btn" href="#">
       					<i class="fas fa-search"></i>
       				</a>
     			</div>
     			<div class="albumContainer">
	     			<div id="albumImgs" v-for="album in albums" v-bind:key="album.albumname">
	     				<img class="square albumType" :id="album.pic" :src="album.pic" >
	     				<div class="albumOverlay">
	    					<div class="albumText">{{album.albumname}}</div>
	  					</div>
	     			</div>
	     		</div>
			</div>
			<div id="mainSongs" v-show="currentPage === 'songs'">	
				<div class="search-box">
       				<input type="text" name="" class="search-txt" placeholder="Search..."/>
       				<a class="search-btn" href="#">
       					<i class="fas fa-search"></i>
       				</a>
     			</div>
				<div id="library">
					<table id="libraryTable" class="resultsTable">
					  <thead id="songTableHead">
					    <tr>
					      <th class="songHeader" scope="col">Title</th>
					      <th class="songHeader" scope="col">Artist</th>
					      <th class="songHeader" scope="col">Album</th>
					      <th class="songHeader" scope="col">Duration</th>
					    </tr>
					  </thead>
					  <tbody id="libraryBody">
					  	<tr v-for="song in songs" v-bind:key="song.id" v-on:click="idSendPlay(song.id)">
					  		<td class="songTd">{{song.title}}</td>
					  		<td class="songTd">{{song.artist}}</td>
					  		<td class="songTd">{{song.album}}</td>
					  		<td class="songTd">{{song.duration}}</td>
					  	</tr>
					  </tbody>
			  		</table>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./js/openPlayer.js"></script>
</body>
</html>
